# Ignore PyCaches
koopmanrl/__pycache__/
koopmanrl/environments/__pycache__/
tests/__pycache__/
koopmanrl_utils/movies/__pycache__/

# Ignore simulation results
runs/
saved_models/

# Ignore visualization outputs
figures/
video_frames/

# Ignore benchmark bytecode
benchmarks/__pycache__/
